.f-flow {
  height: 100vh;
  border: 1px solid rgba(60, 60, 67);
  background-image: url("../assets/dots-background.jpg");
  background-size: contain;
  background-repeat: repeat;
}

.f-node {
  padding: 10px;
  color: #56b8ff;
  text-align: center;
  background: white;
  border-radius: 10px;
  border: 1px solid #56b8ff;
  box-shadow: 0px 0px 3px #81c4f4;
  transition: max-height 0.2s cubic-bezier(0.5, 0.5, 0.7, 0.8);

  //被抓取的框會改色
  &.f-selected {
    border-color: #56b8ff;
    // Highlights the border when the node is selected
    // The f-selected class is automatically added by the library when a node or connection is selected.
  }
}

.f-node:hover {
  max-height: 1000px; /* 足够大的值来容纳内容 */
}

.f-drag-handle {
  cursor: grab;
}
.f-drag-handle:active {
  cursor: grabbing;
}

::ng-deep {
  .f-connection {
    .f-connection-drag-handle {
      fill: rgb(186, 186, 186);
      // By default, this element has a black fill and is used to detect the start of dragging (e.g., onmousedown).
      // We make it transparent to avoid visual clutter, while keeping it functional.
    }

    .f-connection-selection {
      stroke-width: 10;
      // This is a pseudo-connection (a copy of the main path) used to make it easier to select the connection.
      // It's slightly thicker than the actual path (which is often only 1px), making it easier to interact with.
      // It remains invisible to avoid affecting visual clarity but stays active for user interaction.
    }

    .f-connection-path {
      stroke: #bababa;
      stroke-width: 2;
    }

    &.f-selected {
      // 這是選種線後的顏色
      .f-connection-path {
        stroke: #56b8ff;
      }
    }
  }

  .company {
    &__title {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      //   overflow: hidden;
    }
  }

  .node__controls {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .node__button-addUser,
  .node__button-company,
  .node__button-remove {
    opacity: 0;
    right: 20px;
    position: relative;
    font-size: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #56b8ff;
    color: #56b8ff;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10%);

    cursor: pointer;
    transform: rotate(-720deg);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .node__button-addUser:hover,
  .node__button-company:hover,
  .node__button-remove:hover {
    border-color: #007acc;
    background: #f0f8ff;
  }

  .node:hover .node__button-addUser,
  .node:hover .node__button-company,
  .node:hover .node__button-remove {
    opacity: 1;
    margin-left: 30px;
    right: 5px;
    transform: rotate(0deg);
  }

  svg {
    fill: #bababa;
  }
}
